<div class="row">
  <div class="span6">
    <h1>Bills</h1>
  </div>
</div>
<div class="row">
  <div class="span6">
    <a href='/bill_search'>Search Again</a>
  </div>
</div>
<div class="row">
  <div class="span16">
    <table>
      <% @results.each do |bill| %>
        <tr>
  <h4><%= bill["title"] %></h4>
  <ul>
    <li>Session: <%= bill["session"] %></li>
    <li>Type:
      <ul>
        <% bill["type"].each do |type| %>
          <li><%= type %></li>
        <% end %>
      </ul>
    </li>
    <li>Subjects:<ul>
      <% bill["subjects"].each do |sub|  %>
        <li><%= sub %></li>
      <% end %>
    </ul></li>
    <li>Bill ID: <%= bill["bill_id"] %></li>
    <li><a href="/bills/<%= URI.encode(bill["session"]) %>/<%= URI.encode(bill["bill_id"]) %>">Details</a></li>
  </ul>
      </tr>
<% end %>
    </table>
  </div>
</div>
