<div class="row">
  <div class="span6">
    <h1>Legislators</h1>
  </div>
</div>
<div class="row">
  <div class="span16">
    <table>
    <%  if @results.length != 0
    @results.each do |legislator| %>
      <a href="/legislator_search">Search Again</a>
      <tr>
        <h4><a href="/legislators/<%= legislator["leg_id"]%>"><%= legislator["full_name"] %></a></h4>
 		    <ul>
  		  	<li>Chamber: <%= legislator["chamber"] %></li>
  		    <li>Active: <%= legislator["active"] %></li>
    	    <li>District: <%= legislator["district"]%></li>
    	    <li>Party: <%= legislator["party"]%></li>
 	 	    </ul>
      </tr>
	  <% end #results.each 
	    else # if nil %>
      <p>No legislators found <a href="/legislator_search">Search Again</a></p>
	    <% end # else%>
    </table>
  </div>
</div>
