<div class="row">
  <div class="span6">
    <h1>Legislators</h1>
  </div>
</div>
<div class="row">
  <div class="span6">
    <a href='/legislator_search'>Search Again</a>
  </div>
</div>
<div class="row">
  <div class="span16">
    <table>
    <%  if !@results.nil?
          @results.each do |legislator| %>
      <tr>
        <h4><a href="/legislators/<%= legislator["leg_id"]%>"><%= legislator["full_name"] %></a></h4>
 		    <ul>
  		  	<li>Chamber: <%= legislator["chamber"] %></li>
  		    <li>Active: <%= legislator["active"] %></li>
    	    <li>District: <%= legislator["district"]%></li>
    	    <li>Party: <%= legislator["party"]%></li>
 	 	    </ul>
      </tr>
	  <% end #results.each 
	    else # if nil %>
	    <h2> Sorry, no results </h2>
	    <% end # else%>
    </table>
  </div>
</div>
